<md-toolbar class="white-bg toolbar">
	<div layout="row" layout-align="space-between center">
		<div>
			<md-button hide-xs ng-if="Main.profileOpened" ng-click="Main.toggleProfile()" class="md-icon-button" aria-label="More">
				<md-icon aria-label="Close" class="material-icons">keyboard_arrow_left</md-icon>
			</md-button>
			<md-button hide-xs ng-if="!Main.profileOpened" ng-click="Main.toggleProfile()" class="md-icon-button" aria-label="More">
				<md-icon aria-label="Open" class="material-icons">keyboard_arrow_right</md-icon>
			</md-button>
			<md-button hide-gt-xs ng-click="Main.toggleProfile()" class="md-icon-button" aria-label="More">
				<md-icon aria-label="Open" class="material-icons">menu</md-icon>
			</md-button>
		</div>
		<div layout="row" layout-align="end center">
			<md-button hide-xs class="add-funds">
				<md-icon aria-label="Add" class="material-icons white">add_circle</md-icon>
				Add Funds
			</md-button>
			<div class="balance" layout="column" layout-align="center center">
				<h6 class="no-margin md-title">$0.00</h6>
				<h6 class="no-margin md-subhead">BALANCE</h6>
			</div>
			<div class="avatar" ng-click="Main.openNotifs()">
				<div class="noti-count text-center">3</div>
			</div>
		</div>
	</div>
</md-toolbar>